<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Join!</title>
  </head>
  <body>
    <h1>Join my website!</h1>
    <section class="message">
      HI, <%= message %>
    </section>
    <form action="/join" method="post">
      email: <input type="text" name="email"><br/>
      password: <input type="password" name="password"><br/>
      <input type="submit">
    </form>
  </body>
</html>
