<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>welcome ejs template</title>
  </head>
  <body>
      <h1> Welcome !! <%= name %><%= email %></h1>
      <p>반가워요 <%= id %> 번째 가입자 입니다.</p>
  </body>
</html>
